@{
  Layout = "_Layout";
}

@model DoctorOffice.Models.Specialty;

<h2>Specialty Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if (@Model.JoinEntities2.Count == 0)
{
  <p>This doctor does not have any specialties</p>
}
else
{
  <h4>Doctors in this specialty:</h4>
  <ul>
  @foreach (var join in Model.JoinEntities2)
    {
      <li>@join.Doctor.Name</li>
    }
  </ul>
}
<p>@Html.ActionLink("Back to Specialtys", "Index")</p>
<p>@Html.ActionLink("Edit Specialty", "Edit", new { id = Model.SpecialtyId })</p>
<p>@Html.ActionLink("Delete Specialty", "Delete", new { id = Model.SpecialtyId })</p>