@{
  Layout = "_Layout";
}

@model DoctorOffice.Models.Doctor;

<h2 class="mt-4">Doctor Details</h2>
<hr />
<h5>@Html.DisplayNameFor(model => model.Name):</h5> <p>@Html.DisplayFor(model => model.Name)</p>

<h5>Specialties:</h5>
@foreach (var join in Model.JoinEntities2)
  {
    @join.Specialty.Name
  }
<hr />
<h5>Patients associated with this doctor:</h5>
@if (@Model.JoinEntities.Count == 0)
{
  <p>This doctor does not have any patients</p>
}
else
{
  <ul>
  @foreach (var join in Model.JoinEntities)
    {
      <li>@join.Patient.Name</li>
    }
  </ul>
}

@Html.ActionLink("Back to Doctors", "Index", new {area = ""}, new { @class = "btn btn-secondary btn-sm ml-2 mt-3" })
@Html.ActionLink("Edit Doctor", "Edit", new { id = Model.DoctorId }, new { @class = "btn btn-secondary btn-sm mx-2 mt-3" })
@Html.ActionLink("Delete Doctor", "Delete", new { id = Model.DoctorId }, new { @class = "btn btn-secondary btn-sm mx-2 mt-3" })