@{
  Layout = "_Layout";
}

@using DoctorOffice.Models;

<h1 class="my-4">Our Doctors</h1>

@if (@Model.Count == 0)
{
  <h3>No doctors have been added yet!</h3>
}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Specialty</th>
      <th scope="col">Patient Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-active">
      @foreach (SpecialtyDoctor specialtydoctor in Model)
      {
        <tr>
          <th>@Html.ActionLink($"{specialtydoctor.Doctor.Name}", "Details", new { id = specialtydoctor.Doctor.DoctorId }, new { @class = "text-black"})</th>
          <th>@specialtydoctor.Specialty.Name</th>
          <th>@specialtydoctor.Doctor.JoinEntities.Count()</th>
        </tr>
      }
    </tr>    
  </tbody>  
</table>
</ul>

@Html.ActionLink("Add new Doctor", "Create", new {area = ""}, new { @class = "btn btn-secondary btn-sm my-3 mr-4" })
@Html.ActionLink("Home", "Index", "Home", new {area = ""}, new { @class = "btn btn-secondary btn-sm my-3 mx-4"  })